
      <app-nav></app-nav>
      <!--The content below is only a placeholder and can be replaced.-->
      <div class="container" id="question5">
         <form class="label">
           <label>Right now </label>
           <input [(ngModel)] = "proof" name = "proof" type="text"  placeholder="after 3 months we have 100 beta users on our platform and gained real interestom some big retail companies" /><br />
           <button routerLink="/reviewpage" routerLinkActive="active" type="button" (click)="saveChanges()" class="btn btn-success btn-lg btn-block">Review</button>
         </form>
       </div>