button{
  outline: none;
}
.form-control{
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  border:none;
}
.text-center{
  text-align: center;
  height: 30px;
}
.validation{
  font-size: 1rem;
  animation: fadeinout 2s linear forwards;
}


@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}
logoimage {
	width: 20%;
	height: 10%;
  }
  .menu_icon{
	height: 2.5rem;
	width: 4rem;
	padding-right: 5px;
  }
  .icon-align{
	margin-right: 40px;
  }
.main{
  background-color: white;
  color: black;
}
.side-nav{
  background-color: black !important;
  color: white ;
  width: 250px;
  display: block;
  
}
.review-button{
margin-top: 20px;
}
.name-icon{
  color: white !important;
}
.label-class{
  color: grey;
}
.review{
  text-align: center !important;
}
.activ-class{
  background-color: white !important;
  color: black !important;
}
.inactiv-class{
  background-color: grey !important;
  color: white !important;
}
.index-button{
  background:transparent;
  border:none;
  padding-top:20px;
  color: white !important;
}
.index-button:disabled{
  background:transparent;
  border:none;
  padding-top:20px;
}
.index-button:hover{
  border: none;
}
.index-button:before{
  border: none !important;
}
.index-button:focus {
  outline: none;
}
.nav-icons{
  padding: 20px;
  border-radius: 5.5rem;
  width: 4.5rem !important;
  height: 4.5rem !important;
}
.svg_icon{
	width: 8rem !important;
	height: auto !important;
  padding: 10px !important;
  color: black;
  border: none;
  }
mat-icon{
  width: 10%;
}
mat-icon.disabled {
  pointer-events: none;
  cursor:default;
}
.questions{
  width: 3rem !important;
}
.label1{
  font-size: 18px;
  margin: 20px;
  font-family: 'Roboto Mono', monospace;
}
input { 
  border: none; 
  /* border-bottom: 1px solid black; */
  overflow: auto;  
  font-size: 20px;  
  text-align: left;    
}
textarea{
  width:100%;
  border: none;  
  /* border-bottom: 1px solid black; */
  overflow:hidden;
  font-size: 20px;  
  text-align: left;
  outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
    background-attachment: local;
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;   
}
.modal-content{
  min-height: -webkit-fill-available;
  border: 20px solid white !important;
  border-radius: none;
  background-color: black;
}
.popup{
  margin: 20px;
  display: block;
  text-align: center;
  justify-content: initial;
}
.next-button{
  text-align:center;
  /* padding-top: 210px; */
}
.popup-body{
  color: white;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
}
.mat-drawer-container{
  background-color: white;

}
.content-margin{
  color: black;
  font-size: 20px;
}
.modal-title{
  margin:20px;
  text-align: center;
}
.mat-drawer.mat-drawer-push  {background-color: black;
}


