<!-- <!-- <mat-toolbar>
  <mat-toolbar-row>
    <!-- <mat-icon svgIcon="elevetorly" routerLink="/home" routerLinkActive="active" class="svg_icon"></mat-icon> -->
    <!-- <img src="assets/images/elevetorlylogo.svg" routerLink="/home" routerLinkActive="active" class="svg_icon" >
    <span class="spacer"></span>
    <mat-icon svgIcon="menu icon" class="menu_icon" (click)="sidenavright.toggle()"></mat-icon>
  </mat-toolbar-row>
</mat-toolbar> -->
<!-- <mat-sidenav-container autosize class="main">
    <mat-sidenav #sidenavright mode="push" position="end" class="side-nav">
        <div style="padding-left:55px;">
          <button routerLink="/question1" routerLinkActive="active" class="index-button">
            <mat-icon svgIcon="name-icon" class="nav-icons col-md-sm" style="background-color: white; color: black;" (click)="sidenavright.close()"></mat-icon>
            <label class="col-md-sm label-class" style="color:white;">Name</label>
            <br/>
          </button>
          <button routerLink="/question2" routerLinkActive="active" class="index-button">
            <mat-icon svgIcon="problem-icon" class="nav-icons col-md-sm" style="background-color: white; color: black;" (click)="sidenavright.close()"></mat-icon>
            <label class="col-md-sm label-class" style="color:white;">Problem</label>
            <br/>
          </button>
          <button routerLink="/question3" routerLinkActive="active" class="index-button">
            <mat-icon svgIcon="solution-icon" class="nav-icons col-md-sm" style="background-color: white; color: black;" (click)="sidenavright.close()"></mat-icon>
            <label class="col-md-sm label-class" style="color:white;">Solution</label>
            <br/>
          </button>
          <br/>
          <button routerLink="/question4" routerLinkActive="active" class="index-button">
            <mat-icon svgIcon="value-icon" class="nav-icons col-md-sm" style="background-color: white; color: black;" (click)="sidenavright.close()"></mat-icon>
            <label class="col-md-sm label-class" style="color:white;">Value</label>
            <br/>
          </button>
          <br/>
          <button routerLink="/question5" routerLinkActive="active" class="index-button" disabled>
            <mat-icon svgIcon="proof-icon" class="nav-icons col-md-sm" style="background-color: green; color: white;" ></mat-icon>
            <label class="col-md-sm label-class" style="color:white;">Proof</label>
            <br/>
          </button>
      </div>
      <div class="review"> <button [disabled] = "!review" (click)="review && reviewChanges() && sidenavright.close()"class="btn  review-button">Review</button>
      </div>
      </mat-sidenav>
  <mat-sidenav-content> -->

      <!-- <mat-sidenav-container>
          <mat-sidenav #sidenavright mode="push" position="end">
            <app-sidenav  ></app-sidenav>
          </mat-sidenav>
          <mat-sidenav-content>
              <app-nav (navToggle)="sidenavright.toggle()"></app-nav> -->
            <!-- <app-question1></app-question1> -->
            <!-- <div class="container" id="question5">
                <form class="label5">
                  <label class="content-margin">We are looking for  </label><br/>
                  <textarea matInput placeholder=" $10K to work for a 4 to 6 week on A/B testing the value proposition and build an email list of possible early customers"
                    [(ngModel)]="proof" name="proof" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"></textarea>
                  <mat-icon svgIcon="questions" class="questions" (click)="openModal(template)" style="float:right;"></mat-icon>
                  <br/><br/><br/>
                  <div class="text-right" [ngClass]="{'text-danger': maxwordsError}">
                    <label *ngIf="maxwordsError">Word limit exeeded!&nbsp;&nbsp;</label>
                    <label>{{totalWords}}/{{wordLimit}}</label>
                  </div>
                  <div class="next-q5-button">
                    <label *ngIf="emptyAnswerError" class="text-danger">Please enter a value</label>
                    <br>
                    <button *ngIf="maxwordsError" class="btn-danger disabled" mat-raised-button style="width:40%;">Refactor your answer</button> -->
                    <!--<button *ngIf="!maxwordsError" routerLink="/reviewpage" routerLinkActive="active" type="button" (click)="saveChanges()" mat-raised-button style="width:40%;">
                    Next </button>-->
                    <!-- <button *ngIf="!maxwordsError" type="button" (click)="saveChanges()" mat-raised-button style="width:40%;">
                    Next </button>
                  </div> -->
                  <!--<button routerLink="/reviewpage" routerLinkActive="active" type="button" (click)="saveChanges()" class="btn btn-success btn-lg btn-block">Review</button>-->
               <!-- </form>
              </div>
          </mat-sidenav-content>
        </mat-sidenav-container> -->

    
  <!-- </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- <ng-template #template style="border: 3px white;">
    <div class="modal-header">
      <button type="button" class="close" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body popup-body">
      <h4 class="modal-title">Proof</h4>
      <div style="text-align:center;margin-top:10px;">
        <label style="background-color:white; border-radius: 5.5rem;width: 7rem !important;height: 7rem !important;text-align:center;padding-top:27px; ">
          <img src="assets/images/proof and ask.svg" height="62" width="62">
        </label>
      </div>
      <p class="content popup">Explain here what you are looking for and what would you do with that money.</p>
    </div>
  </ng-template> -->



  <mat-sidenav-container>
      <mat-sidenav #sidenavright mode="push" position="end">
        <app-sidenav [isCurrent5] = isCurrent ></app-sidenav>
      </mat-sidenav>
      <mat-sidenav-content>
          <app-nav (navToggle)="sidenavright.toggle()"></app-nav>
          <div class="container" id="question1">
              <form class="label1">
                <label class="content-margin">We are looking for</label>
                <br/>
                <textarea matInput placeholder="$10K to work for a 4 to 6 week on A/B testing the value proposition and build an email list of possible early customers" [(ngModel)]="proof" name="proof" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"></textarea> 
                <mat-icon svgIcon="questions" class="questions" (click)="openModal(template)" style="float:right;"></mat-icon>
                <br/>
                <br/>
                <br/>
                <div>
                    <app-corousel [isCurrent5] = isCurrent></app-corousel>
                </div>
                <div class="next-button">
                    <label *ngIf="emptyAnswerError" class="text-danger">Please enter a value</label>
                    <br>
                    <button  type="button" (click)="saveChanges()" mat-raised-button style="width:40%;"> 
                       Next  </button>
                 </div>
                <!--<button routerLink="/question2" routerLinkActive="active" type="button" (click)="saveChanges()" class="btn btn-success btn-lg btn-block">next</button>-->
              </form>
            </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
 
<!-- </mat-sidenav-content>
</mat-sidenav-container> -->
<ng-template #template style="border: 3px white;">
    <div class="modal-header">
      <button type="button" class="close" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body popup-body">
      <h4 class="modal-title">Proof</h4>
      <div style="text-align:center;margin-top:10px;">
        <label style="background-color:white; border-radius: 5.5rem;width: 7rem !important;height: 7rem !important;text-align:center;padding-top:27px; ">
          <img src="assets/images/nameicon.svg " height="62" width="62">
        </label>
      </div>
      <p class="content popup">Explain here what you are looking for and what would you do with that money.</p>
    </div>
  </ng-template>


     