.svg_icon{
    width: 8rem !important;
    height: auto !important;
  padding: 10px !important;
  color: black;
  border: none;
  outline: none;
  }
  .error-class{
    font-size: 80%;
    color: #dc3545;
    margin-top: .25rem;
  }
