
      <app-nav></app-nav>
      <!--The content below is only a placeholder and can be replaced.-->
      <div class="container" id="question4">
         <form class="label">
           <label>Ultimately the biggest value for the customer is that</label>
           <textarea matInput placeholder="this way you will never have to advance money for your gift again" [(ngModel)]="value" name="value" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
      ></textarea>
           
           <!--<textarea [(ngModel)] = "value" name = "value" cols="40" rows="2" class="notes" placeholder="this way you will never have to advance money for your gift again"></textarea>-->
          <!-- <input [(ngModel)] = "value" name = "value" type="text"  placeholder="this way you will never have to advance money for your gift again" /><br />-->
          <mat-icon svgIcon="questions" (click)="openModal(template)" style="float:right;"></mat-icon>
          <br/>
          <!-- <button type="button" (click)="openModal(template)" style="float: right;" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect">  
              <i class="material-icons">A</i>
              </button> -->
              <div style="text-align:center;padding:30px;">
                <button routerLink="/question5" routerLinkActive="active" type="button" (click)="saveChanges()" mat-raised-button style="width:40%;">  Next  </button>
             </div>
           <!--<button routerLink="/question5" routerLinkActive="active" type="button" (click)="saveChanges()" class="btn btn-success btn-lg btn-block">next</button>-->
         </form>
       </div>

       <ng-template #template>
          <div class="modal-header">
            
            <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body popup-body">
              <h4 class="modal-title">Problem</h4>
            <p class="content">This is the moment to explain <br/>your product of service. Think <br/>about the problem you are solving!<br/> Explain the benifites for the user(s). Try to <br/>answer this is one sentance</p>
              
              
            </div>
        
          <!-- <div class="modal-footer">
             <!-- <button type="button" class="btn btn-success" id="addImageButton" (click)="add(imgUrl.value, imgDesc.value)">Add Image</button>-->
              <!-- <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>
          </div> -->
        </ng-template>