<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon svgIcon="elevetorly" class="svg_icon" routerLink="/home" routerLinkActive="active" ></mat-icon>
    <span class="spacer"></span>
    <mat-icon svgIcon="menu icon" class="menu_icon" (click)="sidenavright.toggle()"></mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container autosize class="main">
    <mat-sidenav #sidenavright mode="push" position="end" class="side-nav">
        <div style="padding-left:55px;">
          <button routerLink="/question1" routerLinkActive="active" class="index-button">
            <mat-icon svgIcon="name-icon" class="nav-icons col-md-sm" style="background-color: white;" (click)="sidenavright.close()"></mat-icon>
            <label class="col-md-sm label-class" style="color:white;">Name</label>
            <br/>
          </button>
          <button routerLink="/question2" routerLinkActive="active" class="index-button">
            <mat-icon svgIcon="problem-icon" class="nav-icons col-md-sm" style="background-color: white;" (click)="sidenavright.close()"></mat-icon>
            <label class="col-md-sm label-class" style="color:white;">Problem</label>
            <br/>
          </button>
          <button routerLink="/question3" routerLinkActive="active" class="index-button">
            <mat-icon svgIcon="solution-icon" class="nav-icons col-md-sm" style="background-color: white;" (click)="sidenavright.close()"></mat-icon>
            <label class="col-md-sm label-class" style="color:white;">Solution</label>
            <br/>
          </button>
          <br/>
          <button routerLink="/question4" routerLinkActive="active" class="index-button">
            <mat-icon svgIcon="value-icon" class="nav-icons col-md-sm" style="background-color: yellow;" (click)="sidenavright.close()"></mat-icon>
            <label class="col-md-sm label-class" style="color:white;">Value</label>
            <br/>
          </button>
          <br/>
          <button routerLink="/question5" routerLinkActive="active" class="index-button" disabled>
            <mat-icon svgIcon="proof-icon" class="nav-icons col-md-sm" ></mat-icon>
            <label class="col-md-sm label-class" >Proof</label>
            <br/>
          </button>
        </div>
      </mat-sidenav>
  <mat-sidenav-content>
    <!--The content below is only a placeholder and can be replaced.-->
    <div class="container" id="question4">
      <form class="label4">
        <label>Ultimately the biggest value for the customer is that</label>
        <textarea matInput placeholder="this way you will never have to advance money for your gift again" [(ngModel)]="value" name="value"
          cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"></textarea>

        <!--<textarea [(ngModel)] = "value" name = "value" cols="40" rows="2" class="notes" placeholder="this way you will never have to advance money for your gift again"></textarea>-->
        <!-- <input [(ngModel)] = "value" name = "value" type="text"  placeholder="this way you will never have to advance money for your gift again" /><br />-->
        <mat-icon svgIcon="questions" class="questions" (click)="openModal(template)" style="float:right;"></mat-icon>
        <br/>
        <br/>
        <br/>
        <div>
          <label (click)="showWordCount()"> Show Word count : </label>
          <label *ngIf="wordnumber">{{words}}</label>
        </div>
        <div class="next-q4-button">
          <button routerLink="/question5" routerLinkActive="active" type="button" (click)="saveChanges()" mat-raised-button style="width:40%;">
          Next </button>
        </div>
        <!--<button routerLink="/question5" routerLinkActive="active" type="button" (click)="saveChanges()" class="btn btn-success btn-lg btn-block">next</button>-->
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #template style="border: 3px white;">
    <div class="modal-header">
      <button type="button" class="close" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body popup-body">
      <h4 class="modal-title">Problem</h4>
      <div style="text-align:center;padding-left:60px;">
        <div style="background-color:white; border-radius: 5.5rem;width: 7rem !important;height: 7rem !important;text-align:center;padding-top:27px; ">
          <img src="../assets/images/problem icon.svg " height="62" width="62">
        </div>
      </div>
      <p class="content popup">This is the moment to explain
        <br/>your product of service. Think
        <br/>about the problem you are solving!
        <br/> Explain the benifites for the user(s). Try to
        <br/>answer this is one sentance</p>
    </div>
  </ng-template>