
      <app-nav></app-nav>
      <!--The content below is only a placeholder and can be replaced.-->
      <div id="question4">
         <form class="label">
           <label>Ultimatly the biggest value for the customer is that</label>
           <input [(ngModel)] = "value" name = "value" type="text"  placeholder="this way you will never have to advance money for your gift again" /><br />
           <button routerLink="/question5" routerLinkActive="active" type="button" (click)="saveChanges()" class="btn btn-success btn-lg btn-block">next</button>
         </form>
       </div>