<div class="container" id="question1">
    <form class="label1">
      <label class="content-margin">My name is</label>
      <br/>
      <textarea matInput placeholder="Santa Claus" [(ngModel)]="name" name="name" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"></textarea> 
      <mat-icon svgIcon="questions" class="questions" (click)="openModal(template)" style="float:right;"></mat-icon>
      <br/>
      <br/>
      <br/>
      <div class="next-button">
          <label *ngIf="emptyAnswerError" class="text-danger">Please enter a value</label>
          <br>
          <button  type="button" (click)="saveChanges()" mat-raised-button style="width:40%;"> 
             Next  </button>
       </div>
      <!--<button routerLink="/question2" routerLinkActive="active" type="button" (click)="saveChanges()" class="btn btn-success btn-lg btn-block">next</button>-->
    </form>
  </div>