
.popup-image{
  background-color:white;
  border-radius: 5.5rem;
  text-align:center;
  padding:15px;
}
.content{
  text-align:center;margin-top:10px;
}
.image-size{
  height: 3rem;
  width: 3rem;
}
button{
  outline: none !important;
}
.text-center{
  text-align: center;
  height: 30px;
  margin-bottom: 10px;
}
.validation{
  font-size: 1rem;
  animation: fadeinout 2s linear forwards;
}


@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}
.form-control{
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  border:none;
}
logoimage {
	width: 20%;
	height: 10%;
  }
  .icon-align{
	margin-right: 40px;
  }
.main{
  background-color: white;
  color: black;
}
.side-nav{
  background-color: black !important;
  color: white ;
  width: 250px;
  display: block;
  
}
.review-button{
margin-top: 20px;
}
.label-class{
  color: grey;
}
.review{
  text-align: center !important;
}
.activ-class{
  background-color: white !important;
  color: black !important;
}
.inactiv-class{
  background-color: grey !important;
  color: white !important;
}
.index-button{
  background:transparent;
  border:none;
  padding-top:20px;
  color: white !important;
}
.index-button:disabled{
  background:transparent;
  border:none;
  padding-top:20px;
}
.index-button:hover{
  border: none;
}
.index-button:before{
  border: none !important;
}
.index-button:focus {
  outline: none;
  
}
.nav-icons{
  padding: 20px;
  border-radius: 5.5rem;
  width: 4.5rem !important;
  height: 4.5rem !important;
}
.svg_icon{
	width: 8rem !important;
	height: auto !important;
  padding: 10px !important;
  color: black;
  border: none;
  }
mat-icon{
  width: 10%;
}
mat-icon.disabled {
  pointer-events: none;
  cursor:default;
}
.questions{
  width: 3rem !important;
}
.label1{
  font-size: 18px;
  margin: 20px;
  font-family: 'Roboto Mono', monospace;
}
input { 
  border: none; 
  overflow: auto;  
  font-size: 20px;  
  text-align: left;    
}

textarea{
  width:100%;
  border: none;  
  overflow:hidden;
  font-size: 20px;  
  text-align: left;
  outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px; 
}
.modal-content{
  min-height: -webkit-fill-available;
  border: 20px solid white !important;
  border-radius: none;
  background-color: black;
}
.popup{
  margin: 20px;
  display: block;
  text-align: center;
  justify-content: initial;
}
.next-button{
  background-color: white;
  opacity: 80%;
  padding-bottom: 3rem;
  text-align:center;
}
.modal-backdrop.show{
  opacity: 0.1;
}
.modal-header{
  border-bottom: none;
}
.modal-title{
  margin: 20px;
}
.popup-body{
  color: white;
  background-color: black;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}
.mat-drawer-container{
  background-color: white;

}
.content-margin{
  color: black;
  font-size: 20px;
}
.mat-drawer.mat-drawer-push  {background-color: black;
}



.corousel{
  border-radius:5.5rem;
  background: white;
  box-shadow: 2px 2px 2px 2px grey; 
  margin: 20px;
  padding: 20px;
  height: 6rem;
  min-width: 6rem;
  
}
.corr{
  text-align: center;
  
}
.button-width{
  width: 12em;
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
  font-size: 16px;
  border: 1.5px solid black;
  background-color: black;
  color: white;
  outline: none;
 
}
.empty-text-button{
  color: gray !important;
  background-color: white !important;
  border: 1.5px solid #ccc !important;
  box-shadow: none !important;
  outline: none;
}
.my-corousel{
  height: auto;
  width: auto;
  overflow: hidden;
}