<mat-sidenav-container>
  <mat-sidenav #sidenavright mode="push" position="end">
    <app-sidenav ></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav (navToggle)="sidenavright.toggle()"></app-nav>
    <div class="container" id="question1">
      <form class="form-control" required>
        <br/>
        <label class="content-margin">My name is</label>
        <mat-icon svgIcon="questions" class="questions" (click)="openModal(template)" style="float:right;"></mat-icon>
        <br/>
        <textarea maxlength="120"  (ngModelChange)="onTextEnter($event)" matInput placeholder="Santa Claus" [(ngModel)]="name" name="name" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5" required></textarea>
        <br/>
        <div class="text-right" [ngClass]="{'text-danger': maxwordsError}">
          <label *ngIf="totalWords==120">Word limit exeeded!&nbsp;&nbsp;</label>
          <label>{{totalWords}}/{{wordLimit}}</label>
        </div>

        <div class="my-corousel">
          <app-corousel [isCurrent1]= isCurrent></app-corousel>
        </div>
        <div class="next-button fixed-bottom">
            <div class="text-center">
                <label *ngIf="emptyAnswerError" class="validation">Please enter a value</label>              
              </div>
          <button type="button" [ngClass]="{'empty-text-button': buttonIsDisabled}"  (click)="saveChanges()" mat-raised-button class="button-width">
            Next </button>
        </div>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<ng-template #template style="border: 3px white;">
  <div class="modal-header">
    <button type="button" class="close" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><mat-icon svgIcon="close-popup"></mat-icon></span>
    </button>
  </div>
  <div class="modal-body popup-body">
    <h4 class="modal-title">Name</h4>
    <div class="content">
      <label class="popup-image">
        <img src="assets/images/nameicon.svg " class="image-size" >
      </label>
    </div>
    <p class="content popup"> Did you really ask for more info about your Name?! :) </p>
  </div>
</ng-template>