
<mat-sidenav-container>
    <mat-sidenav #sidenavright mode="push" position="end">
      <app-sidenav  ></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-nav (navToggle)="sidenavright.toggle()"></app-nav>
        <div class="container">
            <form class="form-control">
                <mat-icon svgIcon="questions" class="questions" (click)="openModal(template)" style="float:right;"></mat-icon>
              <label class="content-margin">The problem can be solved</label>
              <textarea maxlength="120" (ngModelChange)="onTextEnter($event)" matInput placeholder="with a subscription services business that will automatically replenish the supplies every time is needed" [(ngModel)]="solution" name="solution" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"></textarea> 
              <div class="text-right" [ngClass]="{'text-danger': maxwordsError}">
                <label *ngIf="totalWords==120">Word limit exeeded!&nbsp;&nbsp;</label>
                <label>{{totalWords}}/{{wordLimit}}</label>
              </div>
             
              <div>
                  <app-corousel [isCurrent3] = isCurrent></app-corousel>
              </div>
              <div class="q3-next-button fixed-bottom">
                  <div class="text-center">
                      <label *ngIf="emptyAnswerError" class="validation" >Please enter a value</label>
               
                  </div>
                  <button  type="button" [ngClass]="{'empty-text-button': buttonIsDisabled}" (click)="saveChanges()" mat-raised-button class="button-width "> 
                     Next  </button>
               </div>
            </form>
          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
<ng-template #template style="border: 3px white;">
  <div class="modal-header">
    <button type="button" class="close" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><mat-icon svgIcon="close-popup"></mat-icon></span>
    </button>
  </div>
  <div class="modal-body popup-body container">
    <h4 class="modal-title">Solution</h4>
    <div class="content">
      <label class="popup-image">
        <img src="assets/images/nameicon.svg " class="image-size">
      </label>
    </div>
    <p class="content popup"> This is the moment to explain your product or service. Explain how you are solving the problem for the user(s).</p>
  </div>
</ng-template>


   


