
<mat-sidenav-container>
    <mat-sidenav #sidenavright mode="push" position="end">
      <app-sidenav [isCurrent3] = isCurrent ></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-nav (navToggle)="sidenavright.toggle()"></app-nav>
        <div class="container" id="question1">
            <form class="form-control">
              <label class="content-margin">The problem can be solved</label>
              <br/>
              <textarea matInput placeholder="with a subscription services business that will automatically replenish the supplies every time is needed" [(ngModel)]="solution" name="solution" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"></textarea> 
              <mat-icon svgIcon="questions" class="questions" (click)="openModal(template)" style="float:right;"></mat-icon>
              <br/>
              <br/>
              <br/>
              <div>
                  <app-corousel [isCurrent3] = isCurrent></app-corousel>
              </div>
              <div class="next-button">
                  <label *ngIf="emptyAnswerError" class="text-danger">Please enter a value</label>
                  <br>
                  <button  type="button" (click)="saveChanges()" mat-raised-button style="width:40%;"> 
                     Next  </button>
               </div>
            </form>
          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
<ng-template #template style="border: 3px white;">
  <div class="modal-header">
    <button type="button" class="close" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body popup-body container">
    <h4 class="modal-title">Solution</h4>
    <div style="text-align:center;margin-top:10px;">
      <label style="background-color:white; border-radius: 5.5rem;text-align:center;padding:15px; ">
        <img src="assets/images/nameicon.svg " style="width: 3rem;height: 3rem;">
      </label>
    </div>
    <p class="content popup"> This is the moment to explain your product or service. Explain how you are solving the problem for the user(s).</p>
  </div>
</ng-template>


   


