<div class="container nav-width">
    <button routerLink="/question1"   routerLinkActive="active" class="index-button">
      <mat-icon svgIcon="name-icon"  class="nav-icons col-md-sm name-icon"      style="background-color: green;" (click)="sidenavright.close()"></mat-icon>
      <label class="col-md-sm" [ngClass]="{'label-class': !isValid1}"   >Name</label>
      <br/>
    </button>
    <br/>
    <button routerLink="/question1"   routerLinkActive="active" class="index-button">
      <mat-icon svgIcon="name-icon"  class="nav-icons col-md-sm name-icon"      style="background-color: green;" (click)="sidenavright.close()"></mat-icon>
      <label class="col-md-sm" [ngClass]="{'label-class': !isValid1}"   >Name</label>
      <br/>
    </button>
    <br/>
    <button routerLink="/question1"   routerLinkActive="active" class="index-button">
      <mat-icon svgIcon="name-icon"  class="nav-icons col-md-sm name-icon"      style="background-color: green;" (click)="sidenavright.close()"></mat-icon>
      <label class="col-md-sm" [ngClass]="{'label-class': !isValid1}"   >Name</label>
      <br/>
    </button>
    <br/>
    <button routerLink="/question1"   routerLinkActive="active" class="index-button">
      <mat-icon svgIcon="name-icon"  class="nav-icons col-md-sm name-icon"      style="background-color: green;" (click)="sidenavright.close()"></mat-icon>
      <label class="col-md-sm" [ngClass]="{'label-class': !isValid1}"   >Name</label>
      <br/>
    </button>
    <br/>
    <button routerLink="/question1"   routerLinkActive="active" class="index-button">
      <mat-icon svgIcon="name-icon"  class="nav-icons col-md-sm name-icon"      style="background-color: green;" (click)="sidenavright.close()"></mat-icon>
      <label class="col-md-sm" [ngClass]="{'label-class': !isValid1}"   >Name</label>
      <br/>
    </button>
    <br/>
    <button routerLink="/question1"   routerLinkActive="active" class="index-button">
      <mat-icon svgIcon="name-icon"  class="nav-icons col-md-sm name-icon"      style="background-color: green;" (click)="sidenavright.close()"></mat-icon>
      <label class="col-md-sm" [ngClass]="{'label-class': !isValid1}"   >Name</label>
      <br/>
    </button>
</div>