.nav-width{
    min-width: 200px !important;
width: 85vw !important;
max-width: 400px !important;
padding-left: 50px;
/* background-color: black; */
/* align-items: center; */
}
/* 
.mat-raised-button{
    align-items: center; 
    background-color: white;
    color: black !important;
    margin-left: 10px;
} */
.name-icon{
    background-color: #acff48;
    color: black !important;
    
}
.corousel{
    border: radius 4.5rem;
    background: white;
    box-shadow: 2px 2px 2px 2px grey; 
    margin: 20px;
    padding: 15px;
    height: 5rem;
    min-width: 5rem;
    outline: none;
    
  }
  button{
    background: transparent;
    border: none;
    outline: none;
}
.current-stage{
    background: white !important;
}
.disable-class{
  background: #cccccc ;
  color : white;
}
.current-text{
    color: white !important;
}
.disable-text{
  
  color : #cccccc;
}
.disable-review{
  
    background-color : #cccccc !important;
    color: black  !important;
  }
  .current-review{
    background-color: white !important;
    color: white;
  }
  .review-class{
      background: #acff48;
      color: black;
  }

  .sidenav-button{
      position: absolute;
      bottom: 20px;
      justify-content: center;
      text-align: center;
      font-size:1.1rem; 
      font-family: 'Roboto Mono', monospace;
  }
  .isanswered{
      color: #acff48 !important;
  }
  .nav-icons{
      padding: 12px;

  }
