<!-- <div class="container nav-width">
    <button routerLink="/questions/1"   routerLinkActive="active" [disabled] = "!isValid1" class="index-button">
      <mat-icon svgIcon="name-icon"   class="nav-icons col-md-sm name-icon" [ngClass] ="{'current-stage' : isCurrent1,'disable-class': !isValid1}"   ></mat-icon>
      <label class="col-md-sm sidenav-button"  [ngClass] ="{'current-text' : isCurrent1,'disable-text': !isValid1,'isanswered' : isValid1}" >Name</label>
      <br/>
    </button>
    <br/>
    <button routerLink="/questions/2"   routerLinkActive="active" [disabled] = "!isValid2" class="index-button">
      <mat-icon svgIcon="problem-icon"  class="nav-icons col-md-sm name-icon" [ngClass] ="{'current-stage' : isCurrent2,'disable-class': !isValid2}"  ></mat-icon>
      <label class="col-md-sm sidenav-button" [ngClass] ="{'current-text' : isCurrent2,'disable-text': !isValid2,'isanswered' : isValid2}" >Problem</label>
      <br/>
    </button>
    <br/>
    <button routerLink="/questions/3"   routerLinkActive="active" [disabled] = "!isValid3" class="index-button">
      <mat-icon svgIcon="solution-icon"  class="nav-icons col-md-sm name-icon" [ngClass] ="{'current-stage' : isCurrent3,'disable-class': !isValid3}"  ></mat-icon>
      <label class="col-md-sm sidenav-button"  [ngClass] ="{'current-text' : isCurrent3,'disable-text': !isValid3,'isanswered' : isValid3}"   >Solution</label>
      <br/>
    </button>
    <br/>
    <button routerLink="/questions/4"   routerLinkActive="active" [disabled] = "!isValid4" class="index-button">
      <mat-icon svgIcon="value-icon"  class="nav-icons col-md-sm name-icon" [ngClass] ="{'current-stage' : isCurrent4,'disable-class': !isValid4}"   ></mat-icon>
      <label class="col-md-sm sidenav-button"  [ngClass] ="{'current-text' : isCurrent4,'disable-text': !isValid4,'isanswered' : isValid4}"  >Value</label>
      <br/>
    </button>
    <br/>
    <button routerLink="/questions/5"   routerLinkActive="active" [disabled] = "!isValid5" class="index-button">
      <mat-icon svgIcon="proof-icon"  class="nav-icons col-md-sm name-icon" [ngClass] ="{'current-stage' : isCurrent5,'disable-class': !isValid5}"  ></mat-icon>
      <label class="col-md-sm sidenav-button" [ngClass] ="{'current-text' : isCurrent5,'disable-text': !isValid5,'isanswered' : isValid5}" >Proof</label>
      <br/>
    </button>
    <br/>
    <br/>
    <br/>
    <button  mat-raised-button routerLink="/reviewpage" [disabled] = "!isReview" [ngClass] ="{'current-review' : isCurrentReview,'disable-review': !isReview}" class="review-class sidenav-button"   routerLinkActive="active">Review</button>
</div> -->

<div class="container nav-width" *ngFor="let que of questions " >
    <button class="index-button" (click) = "switchpage(que.id)"    routerLinkActive="active" >
      <img src="{{que.image_url}} " [ngClass]="{'current-review' : que.id == q_id}" class="nav-icons col-md-sm name-icon">
      <label class="col-md-sm sidenav-button">{{que.icon_name}}</label>
      <br/>
    </button>
</div>