.nav-width{
    min-width: 200px !important;
width: 85vw !important;
max-width: 400px !important;
padding-left: 50px;
/* background-color: black; */
/* align-items: center; */
}

.mat-raised-button{
    align-items: center; 
    background-color: white;
    color: black !important;
    margin-left: 10px;
}
.name-icon{
    background-color: white;
    color: black !important;
    
}
