
      <app-nav></app-nav>
      <!--The content below is only a placeholder and can be replaced.-->
      <div id="question1">
         <form class="label">
           <label>I got really frustrated when</label>
           <input [(ngModel)] = "problem" name = "problem" type="text" width=100% placeholder="a couple of months ago I wanted to collect some money from friends for a birthday gift. It was really frustrating because Ihad to advance the money and buy the gift alone." /><br />
           <button routerLink="/question3" routerLinkActive="active" type="button" (click)="saveChanges()" class="btn btn-success btn-lg btn-block">next</button>
         </form>
       </div>