<mat-toolbar>
  <mat-toolbar-row>
    <!-- <mat-icon svgIcon="elevetorly" class="svg_icon" routerLink="/home" (click)="saveChangers();" routerLinkActive="active"></mat-icon> -->
    <img src="assets/images/elevetorlylogo.svg" routerLink="/home" routerLinkActive="active" class="svg_icon" >
    <span class="spacer"></span>
    <mat-icon svgIcon="menu icon" class="menu_icon" (click)="sidenavright.toggle()"></mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container autosize class="main">
  <mat-sidenav #sidenavright mode="push" position="end" class="side-nav">
    <div style="padding-left:55px;">
      <button routerLink="/question1" routerLinkActive="active" class="index-button">
        <mat-icon svgIcon="name-icon" class="nav-icons col-md-sm" style="background-color: white; color: black;" (click)="sidenavright.close()"></mat-icon>
        <label class="col-md-sm label-class" style="color:white;">Name</label>
        <br/>
      </button>
      <button routerLink="/question2" routerLinkActive="active" class="index-button">
        <mat-icon svgIcon="problem-icon" class="nav-icons col-md-sm" style="background-color: white; color: black;" (click)="sidenavright.close()"></mat-icon>
        <label class="col-md-sm label-class" style="color:white;">Problem</label>
        <br/>
      </button>
      <button routerLink="/question3" routerLinkActive="active" class="index-button">
        <mat-icon svgIcon="solution-icon" class="nav-icons col-md-sm" style="background-color: green; color:black;" (click)="sidenavright.close()"></mat-icon>
        <label class="col-md-sm label-class" style="color:white;">Solution</label>
        <br/>
      </button>
      <br/>
      <button routerLink="/question4" routerLinkActive="active" class="index-button" [disabled]="!isValid4">
        <mat-icon svgIcon="value-icon" class="nav-icons col-md-sm" [ngClass]="{'activ-class': isValid4}"></mat-icon>
        <label class="col-md-sm" [ngClass]="{'label-class': !isValid4}">Value</label>
        <br/>
      </button>
      <br/>
      <button routerLink="/question5" routerLinkActive="active" class="index-button" [disabled]="!isValid5">
        <mat-icon svgIcon="proof-icon" class="nav-icons col-md-sm" [ngClass]="{'activ-class': isValid5}"></mat-icon>
        <label class="col-md-sm" [ngClass]="{'label-class': !isValid5}">Proof</label>
        <br/>
      </button>
    </div>
  </div>
  <div class="review"> <button [disabled] = "!review" (click)="review && reviewChanges() && sidenavright.close()"class="btn  review-button">Review</button>
  </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container" id="question3">
      <form class="label3">
        <label class="content-margin">The problem can be solved</label><br/>
        <textarea matInput class="outline1" placeholder="with a subscription services business that will automatically replenish the supplies every time is needed"
          [(ngModel)]="solution" name="solution" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"></textarea>
        <mat-icon svgIcon="questions" class="questions" (click)="openModal(template)" style="float:right;"></mat-icon>
        <br/>
        <br/>
        <br/>
        <div class="text-right" [ngClass]="{'text-danger': maxwordsError}">
          <label *ngIf="maxwordsError">Word limit exeeded!&nbsp;&nbsp;</label>
          <label>{{totalWords}}/{{wordLimit}}</label>
        </div>
        <div class="next-q3-button">
          <label *ngIf="emptyAnswerError" class="text-danger">Please enter a value</label>
          <br>
          <button *ngIf="maxwordsError" class="btn-danger disabled" mat-raised-button style="width:40%;">Refactor your answer</button>
          <button *ngIf="!maxwordsError" type="button" (click)="saveChanges()" mat-raised-button style="width:40%;">
            Next </button>
        </div>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #template style="border: 3px white;">
  <div class="modal-header">
    <button type="button" class="close" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body popup-body">
    <h4 class="modal-title">Solution</h4>
    <div style="text-align:center;margin-top:10px;">
      <label style="background-color:white; border-radius: 5.5rem;width: 7rem !important;height: 7rem !important;text-align:center;padding-top:27px; ">
        <img src="assets/images/solution.svg " height="62" width="62">
      </label>
    </div>
    <p class="content popup">This is the moment to explain your product or service. Explain how you are solving the problem for the user(s).</p>
  </div>
</ng-template>