.label{
    font-size: 40px;
    margin: 40px;
    margin-top: 100px;
    font-family: 'Roboto Mono', monospace;
}
input { 
    border: none; 
    border-bottom: 1px solid black;
    overflow: auto;  
    font-size: 40px;  
    text-align: center;    
  }

  .btn-success {
  background-color: #25a08d;
  background-image: none;
  padding: 8px 50px;
  margin-top: 20px;
  border-radius: 40px;
  border: 1px solid #25a08d;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.btn-success:focus, .btn-success:hover {
  background-color: #25a08d;
  border-color: #25a08d;
  box-shadow: 0px 5px 35px -5px #25a08d;
  text-shadow: 0 0 8px #fff;
  color: #fff;
  outline: none;
}
.btn-success.active {
  background-color: #25a08d;
  border-color: #25a08d;
  box-shadow: 0px 5px 35px -5px #25a08d;
  text-shadow: 0 0 8px #fff;
  color: #fff;
  outline: none;
}
.btn-success.active:hover {
  background-color: #25a08d;
  border-color: #25a08d;
  box-shadow: 0px 5px 35px -5px #25a08d;
  text-shadow: 0 0 8px #fff;
  color: #fff;
  outline: none;
}
.btn-success:active {
  background-color: #25a08d;
  border-color: #25a08d;
  box-shadow: 0px 5px 35px -5px #25a08d;
  text-shadow: 0 0 8px #fff;
  color: #fff;
  outline: none;
}
.btn-success:active:hover, .btn-success:active:focus {
  background-color: #25a08d;
  border-color: #25a08d;
  box-shadow: 0px 5px 35px -5px #25a08d;
  text-shadow: 0 0 8px #fff;
  color: #fff;
  outline: none;
}

.popup-body{
    color: white;
    background-color: black;
    font-family: 'Roboto Mono', monospace;

}
.modal-title{
    text-align: center;
}

.content{
    text-align: center;
}

.notes {
  
  background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-size: 100% 100%, 100% 100%, 100% 31px;
  width: 100%;
  height:50%;
  border:none;

  
}
.notes:focus
{
  outline: none;
}
mat-icon{
  height: 10%;
  width: 10%;
}

@media only screen 
and (min-width : 1224px) {
    /* Styles */
    mat-icon{
      height: 4%;
  width: 4%;
    }
}