
      <app-nav></app-nav>
      <!--The content below is only a placeholder and can be replaced.-->
      <div class="container" id="question3">
         <form class="label">
           <label>With our product</label>
           <input [(ngModel)] = "solution" name = "solution" type="text"  placeholder="You can collect money from friends for every occasion and buy gifts from our partners send it as a gift voucher or just transfer the money to your bank account. It's fast, easy and secure." /><br />
           <button routerLink="/question4" routerLinkActive="active" type="button" (click)="saveChanges()" class="btn btn-success btn-lg btn-block">next</button>
         </form>
       </div>