button{
  outline: none;
}
logoimage {
	width: 20%;
	height: 10%;
  }
  .menu_icon{
	height: 2.5rem;
	width: 4rem;
	padding-right: 5px;
  }
  .icon-align{
	margin-right: 40px;
  }
.main{
  background-color: white;
  color: black;
}
.side-nav{
  background-color: black !important;
  color: white;
  width: 250px;
  display: block;

}
.index-button{
  background:transparent;
  border:none;
  padding-top:20px;
}
.index-button:hover{
  border: none;
}
.index-button:before{
  border: none !important;
}
.nav-icons{
  padding: 20px;
  border-radius: 5.5rem;
  width: 4.5rem !important;
  height: 4.5rem !important;
}
.svg_icon{
	width: 8rem !important;
	height: auto !important;
	padding: 10px;
  }
mat-icon{
  width: 10%;
}
mat-icon.disabled {
  pointer-events: none;
  cursor:default;
}
.questions{
  width: 3rem !important;
}
.label3{
  font-size: 20px;
  margin: 40px;
  margin-bottom: 13px;
  font-family: 'Roboto Mono', monospace;
}
input { 
  border: none; 
  border-bottom: 1px solid black;
  overflow: auto;  
  font-size: 20px;  
  text-align: left;    
}
textarea{
  border: none; 
  border-bottom: 1px solid black;
  overflow:hidden;
  font-size: 20px;  
  text-align: left;
  outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;    
}
.modal-content{
  border: 20px solid white !important;
  border-radius: none;
  background-color: black;
}
.popup{
  height: 470px !important;
  display: block;
  text-align: center;
  justify-content: initial;
}
.next-q3-button{
  text-align:center;
  padding-top: 250px;
}
.popup-body{
  color: white;
  background-color: black;
  font-family: 'Roboto Mono', monospace;

}
.modal-title{
  text-align: center;
}

.content{
  text-align: center;
}
mat-icon{
height: 10%;
width: 10%;
}

@media only screen 
and (min-width : 1295px) {
  /* Styles */
  .next-q3-button{
    text-align:center;
    padding-top: 390px !important;
    padding-bottom: 15px;
  }
  .side-nav{
    background-color: black !important;
    color: white;
    width: 250px;
    display: block;
  
  }
  button{
    outline: none !important;
  }
  .label2{
    font-size: 20px;
    margin: 40px;
    font-family: 'Roboto Mono', monospace;  
}
label{
  padding-right: 80px;
}
  textarea{
    width: 700px;
    border: none; 
    border-bottom: 1px solid black;
    overflow:hidden;
    font-size: 20px;  
    text-align: left;
    outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;    
  } 
}
@media only screen 
and (min-height : 560px){
  .popup{
    height: 260px !important;
    display: block;
    text-align: center;
    justify-content: initial;
  }
}
@media only screen 
and (min-height : 660px){
  .next-button{
    text-align:center;
    padding-top: 285px;
  }
  .popup{
    height: 360px !important;
    display: block;
    text-align: center;
    justify-content: initial;
  }
}
@media only screen 
and (min-height : 720px){
  .next-button{
    text-align:center;
    padding-top: 320px;
  }
  .popup{
    height: 490px !important;
    display: block;
    text-align: center;
    justify-content: initial;
  }
}
@media only screen 
and (min-height : 800px){
  .next-button{
    text-align:center;
    padding-top: 370px;
  }
  .popup{
    height: 613px !important;
    display: block;
    text-align: center;
    justify-content: initial;
  }
}
