.corousel{
    border-radius: 4.5rem;
    box-shadow: 2px 2px 2px 2px grey; 
    margin: 20px;
    padding: 15px;
    height: 5rem;
    min-width: 5rem;
    outline: none;
    background-color: #cccccc;
    color: black !important;
  }
  .corr{
    text-align: center;
    align-content: center;
    
  }
  .button-class{
      padding:3px;
    background: transparent;
    border: none;
    outline: none;
}
.current-image{
    background:white !important;
}
.current-texts{
  color: black !important;
}
.disable-text{
  color: #cccccc ;
}
.disable-image{
  background-color: #cccccc ;
  color: black
}
.answered-text{
  color: #acff48;
}
.answered-image{
  background: #acff48 ;
  color : black;
}

.corr-name{

  text-align: center;
  font-size: 1rem;
}

  @media only screen and (max-width: 365px) {
    .corr-name{
      text-align: center;
      font-size: 0.65rem;
      color: #cccccc;
    }
    .corousel{
        border-radius :2.5rem;
        box-shadow: 1px 1px 1px 1px  #cccccc; 
        margin:5.5px;
        padding: 5px;
        height: 2.2rem;
        min-width: 2.2rem;
        outline: none;
        
      }
      
}
@media only screen and  (min-width: 365px) and (max-width: 650px) {
  .corr-name{
    text-align: center;
    font-size: 0.7rem;
  }
  .corousel{
      border-radius :2.5rem;
      box-shadow: 1px 1px 1px 1px  #cccccc; 
      margin:8px;
      padding: 6px;
      height: 2.5rem;
      min-width: 2.5rem;
      outline: none;
      
    }
    
}
  
  
