.corousel{
    border-radius: 4.5rem;
    box-shadow: 2px 2px 2px 2px grey; 
    margin: 20px;
    padding: 15px;
    height: 5rem;
    min-width: 5rem;
    outline: none;
    
  }
  .corr{
    text-align: center;
    
  }
  .button-class{
      padding:3px;
    background: transparent;
    border: none;
    outline: none;
}
.current-class{
    background: green !important;
}
.disable-class{
  background: grey ;
  color : white;
}

  @media only screen and (max-width: 400px) {

    .corousel{
        border-radius :2.5rem;
        box-shadow: 1px 1px 1px 1px grey; 
        margin:2px;
        padding: 5px;
        height: 2.0rem;
        min-width: 2.0rem;
        outline: none;
        
      }
      
}
@media only screen and  (min-width: 400px) and (max-width: 650px) {

  .corousel{
      border-radius :2.5rem;
      box-shadow: 1px 1px 1px 1px grey; 
      margin:5px;
      padding: 6px;
      height: 2.5rem;
      min-width: 2.5rem;
      outline: none;
      
    }
    
}
  
  
