<mat-toolbar>
  <mat-toolbar-row>
      <img src="assets/images/elevatorlylogo.svg" routerLink="/home" routerLinkActive="active" class="svg_icon" >
    <span class="spacer"></span>
    <img *ngIf="login" src="assets/images/login.svg" routerLink="/pitch-list" routerLinkActive="active" class="svg_icon1">
    <img *ngIf="!login" src="assets/images/pitches_list.svg" routerLink="/pitch-list" routerLinkActive="active" class="svg_icon1">
    <img *ngIf="!login" src="assets/images/profile.svg" routerLink="/userprofile" routerLinkActive="active" class="svg_icon1">

    <mat-icon svgIcon="menu icon" class="svg_icon2" (click)="navOpen()"></mat-icon>
  </mat-toolbar-row>
</mat-toolbar>