<mat-toolbar >
    <mat-toolbar-row>
        <!-- <mat-icon svgIcon="elevetorly" class="svg_icon"></mat-icon> -->
        <img src="assets/images/elevetorlylogo.svg" routerLink="/home" routerLinkActive="active" class="svg_icon" >
      <span class="spacer"></span>
      <mat-icon svgIcon="menu icon" class="menu_icon" (click)="sidenavright.toggle()" ></mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container autosize class="main">
    <mat-sidenav #sidenavright mode="push" position="end" class="side-nav">
      <div style="padding-left:55px;">
        <button routerLink="/question1"   routerLinkActive="active" class="index-button">
          <mat-icon svgIcon="name-icon"  class="nav-icons col-md-sm name-icon"      style="background-color: green;" (click)="sidenavright.close()"></mat-icon>
          <label class="col-md-sm" [ngClass]="{'label-class': !isValid1}"   >Name</label>
          <br/>
        </button>
        <button routerLink="/question2" routerLinkActive="active" [disabled] = "!isValid2" class="index-button">
          <mat-icon svgIcon="problem-icon" class="nav-icons col-md-sm"  [ngClass]="{'activ-class': isValid2}"  style="background-color: grey;"  (click)="isValid2 && sidenavright.close()"></mat-icon>
          <label class="col-md-sm " [ngClass]="{'label-class': !isValid2}" >Problem</label>
          <br/>
        </button>
        <button routerLink="/question3" routerLinkActive="active" class="index-button"  [disabled] = "!isValid3">
          <mat-icon svgIcon="solution-icon" class="nav-icons col-md-sm" [ngClass]="{'activ-class': isValid3}"     style="background-color: grey;" (click)="isValid3 && sidenavright.close()" ></mat-icon>
          <label class="col-md-sm " [ngClass]="{'label-class': !isValid3}" >Solution</label>
          <br/>
        </button>
        <br/>
        <button routerLink="/question4" routerLinkActive="active" class="index-button" [disabled] = "!isValid4">
          <mat-icon svgIcon="value-icon" class="nav-icons col-md-sm" [ngClass]="{'activ-class': isValid4}"     style="background-color: grey;" (click)="isValid4 && sidenavright.close()" ></mat-icon>
          <label class="col-md-sm" [ngClass]="{'label-class': !isValid4}" >Value</label>
          <br/>
        </button>
        <br/>
        <button routerLink="/question5" routerLinkActive="active" class="index-button" [disabled] = "!isValid5">
          <mat-icon svgIcon="proof-icon" class="nav-icons col-md-sm" [ngClass]="{'activ-class': isValid5}"     style="background-color: grey;" (click)="isValid5 && sidenavright.close()"  ></mat-icon>
          <label class="col-md-sm" [ngClass]="{'label-class': !isValid5}" >Proof</label>
          <br/>
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container" id="question1">
            <form class="label1">
              <label>My name is</label>
              <textarea matInput placeholder="Santa Claus" [(ngModel)]="name" name="name" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"></textarea> 
              <mat-icon svgIcon="questions" class="questions" (click)="openModal(template)" style="float:right;"></mat-icon>
              <br/>
              <br/>
              <br/>
              <div class="next-button">
                  <label *ngIf="emptyAnswerError" class="text-danger">Please enter a value</label>
                  <button  type="button" (click)="saveChanges()" mat-raised-button style="width:40%;"> 
                     Next  </button>
               </div>
              <!--<button routerLink="/question2" routerLinkActive="active" type="button" (click)="saveChanges()" class="btn btn-success btn-lg btn-block">next</button>-->
            </form>
          </div>
      </mat-sidenav-content>
      </mat-sidenav-container>
      <ng-template #template style="border: 3px white;">
          <div class="modal-header">
            <button type="button" class="close" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body popup-body">
            <h4 class="modal-title">Name</h4>
            <div style="text-align:center;padding-left:60px;">
              <div style="background-color:white; border-radius: 5.5rem;width: 7rem !important;height: 7rem !important;text-align:center;padding-top:27px; ">
                <img src="assets/images/problem icon.svg " height="62" width="62">
              </div>
            </div>
            <p class="content popup"> Did you really ask for more info about your Name?! :) </p>
          </div>
        </ng-template>


           