
      <app-nav></app-nav>
     <!--The content below is only a placeholder and can be replaced.-->
     <div class="container" id="question1">
        <form class="label">
          <label >Ciao,</label><br />
          <label>My name is</label>
          <input [(ngModel)] = "name" name = "name" type="text"  placeholder="Santa" /><br />
          <button routerLink="/question2" routerLinkActive="active" type="button" (click)="saveChanges()" class="btn btn-success btn-lg btn-block">next</button>
        </form>
      </div>
      <div class="dot-container">
          
          <span class="dot" onclick="next"></span> 
          <span class="dot" onclick="next"></span> 
          <span class="dot" onclick="next"></span>
          <span class="dot" onclick="next"></span>
          <span class="dot" onclick="next"></span>
        
  
        </div>