<app-nav></app-nav>
      <!--The content below is only a placeholder and can be replaced.-->
      <div id="question5">
         <form class="label">
           <label>Thank you for using elevatorly <br/>We hope it would be helpful to you <br/><br/>Do you want the pitch <br/>to be emailed to you?</label><br/>
           <!--<input [(ngModel)] = "proof" name = "proof" type="text"  placeholder="after 3 months we have 100 beta users on our platform and gained real interestom some big retail companies" /><br />-->
           <button routerLink="/thankyou" routerLinkActive="active" type="button" (click)="saveChanges()" class="btn btn-success btn-lg btn-block">Yes Email To Me</button><br/>
           <a href="url">No Thank You</a>
         </form>
       </div>