<mat-sidenav-container>
  <mat-sidenav #sidenavright mode="push" position="end">
    <app-sidenav [isCurrent2]= isCurrent></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav (navToggle)="sidenavright.toggle()"></app-nav>
    <div class="container" id="question1">
      <form class="form-control">
        <label class="content-margin">I noticed</label>
        <mat-icon svgIcon="questions" class="questions" (click)="openModal(template)" style="float:right;"></mat-icon>
        <br/>
        <textarea maxlength="120" matInput (ngModelChange)="onTextEnter($event)" placeholder="vacation rental owners have trouble buying and managing rentals supplies like linens, towels, body wash and soap"
          [(ngModel)]="problem" name="problem" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="6"></textarea>
          <div class="text-right" [ngClass]="{'text-danger': maxwordsError}">
            <label *ngIf="totalWords==120">Word limit exeeded!&nbsp;&nbsp;</label>
            <label>{{totalWords}}/{{wordLimit}}</label>
          </div>
          <div class="text-center">
          <label *ngIf="emptyAnswerError" class="validation">Please enter a value</label>
          
        </div>
        <div>
          <app-corousel [isCurrent2]= isCurrent></app-corousel>
        </div>
        <div class="next-button fixed-bottom">
          <button type="button"  [ngClass]="{'empty-text-button': buttonIsDisabled}"  (click)="saveChanges()" mat-raised-button class="button-width">
            Next </button>
        </div>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #template style="border: 3px white;">
  <div class="modal-header">
    <button type="button" class="close" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><mat-icon svgIcon="close-popup"></mat-icon></span>
    </button>
  </div>
  <div class="modal-body popup-body">
    <h4 class="modal-title">Problem</h4>
    <div class="content">
      <label class="popup-image">
        <img src="assets/images/nameicon.svg " class="image-size">
      </label>
    </div>
    <p class="content popup"> Keep the problem short. Explain the situation with a small story. Don't talk about your solution yet! </p>
  </div>
</ng-template>