<mat-sidenav-container>
  <mat-sidenav #sidenavright mode="push" position="end">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: white;color:black;">
      <app-nav (navToggle)="sidenavright.toggle()"></app-nav>

    <div class="jumbotron" style="background-color: white;">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <h2 class="margin">User Profile</h2>
            <form class="fonts">
                <label *ngIf="updatesuccess" class="validation"> Data updated successfully</label>

              <div style="margin-top: 1rem;">
                <span style="float: left;width: 85%">
                  <label for="username">Username</label>
                </span>
                <span style="float: right;">
                  <mat-icon svgIcon="edit-icon" (click)="editUsername()" style="width: 1.2rem"></mat-icon>
                </span>
                <input [disabled]="!edit_username" type="text" class="forms" [(ngModel)]="username" name="username" />
                <div class="slider">
                  <a class="slider" *ngIf="edit_username" style="float:left;color:black;font-size: 1rem;margin-top:10px;" (click)="undoUsername()">
                    cancel</a>
                  <button class="slider" *ngIf="edit_username" (click)="saveUsername()" mat-button style="background-color: black;color:white;float: right;margin-top:10px;margin-bottom:1.5rem;">Save</button>
                </div>

              </div>
              <div style="margin-top: 1rem;">
                <span style="float: left;width: 85%">
                  <label for="email">Email</label>
                </span>
                <span style="float: right;">
                  <mat-icon svgIcon="edit-icon" (click)="editEmail()" style="width: 1.2rem;"></mat-icon>
                </span>
                <input [disabled]="!edit_email" type="text" class="forms" [(ngModel)]="email" name="email" />
                <a *ngIf="edit_email" style="float:left;color:black;font-size: 1rem;margin-top:10px;" (click)="undoEmail()"> cancel</a>
                <button *ngIf="edit_email"  (click)="saveUsername()" mat-button style="background-color: black;color:white;float: right;margin-top:10px;margin-bottom:1.5rem;">Save</button>
              </div>
              <div style="margin-top: 1rem;">
                <span style="float: left;width: 85%">
                  <label for="password">Password</label>
                </span>
                <span style="float: right;">
                  <mat-icon svgIcon="edit-icon" (click)="editPassword()" style="width: 1.2rem"></mat-icon>
                </span>
                <input [disabled]="!edit_password" type="password" class="forms" [(ngModel)]="password" name="password" />
                <a *ngIf="edit_password" style="float:left;color:black;font-size: 1rem;margin-top:10px;" (click)="undoPassword()"> cancel</a>
                <button *ngIf="edit_password"  (click)="saveUsername()" mat-button style="background-color: black;color:white;float: right;margin-top:10px;margin-bottom:1.5rem;">Save</button>
              </div>



            </form>
            <div (click)="logout()">
              <label for="logout" style="float: right;margin:3em;text-align: center">Logout
                <mat-icon svgIcon="logout" style="float: right;text-align: center"></mat-icon>
              </label>
            </div>


          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>