<mat-sidenav-container>
  <mat-sidenav #sidenavright mode="push" position="end">
    <app-sidenav [isCurrent4]= isCurrent></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav (navToggle)="sidenavright.toggle()"></app-nav>
    <div class="container" id="question1">
      <form class="form-control">
        <mat-icon svgIcon="questions" class="questions" (click)="openModal(template)" style="float:right;"></mat-icon>
        <label class="content-margin">In this way</label>
        <textarea maxlength="120" (ngModelChange)="onTextEnter($event)" matInput placeholder="The owner will streamline the operation and at the same time reduce the cost associated with last-minute purchases."
          [(ngModel)]="value" name="value" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"></textarea>

        <div class="text-right" [ngClass]="{'text-danger': maxwordsError}">
          <label *ngIf="totalWords==120">Word limit exeeded!&nbsp;&nbsp;</label>
          <label>{{totalWords}}/{{wordLimit}}</label>
        </div>
        
        <div>
          <app-corousel [isCurrent4]= isCurrent></app-corousel>
        </div>
        <div class="next-button fixed-bottom">
            <div class="text-center">
                <label *ngIf="emptyAnswerError" class="validation">Please enter a value</label>
      
              </div>
          <button type="button" [ngClass]="{'empty-text-button': buttonIsDisabled}" (click)="saveChanges()" mat-raised-button class="button-width">
            Next </button>
        </div>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #template style="border: 3px white;">
  <div class="modal-header">
    <button type="button" class="close" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><mat-icon svgIcon="close-popup"></mat-icon></span>
    </button>
  </div>
  <div class="modal-body popup-body">
    <h4 class="modal-title">Value</h4>
    <div class="content">
      <label class="popup-image">
        <img src="assets/images/nameicon.svg " class="image-size">
      </label>
    </div>
    <p class="content popup"> What is the biggest advantage/benefit you're offering with your product or service?</p>
  </div>
</ng-template>