/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.spacer{
    flex-grow: 1;
}
mat-toolbar{
    background-color: white !important;
    color: black !important;
}

.nav-icons {
    margin-right: 1rem;
}