<div class ="content popup">>
  <h4 >Is this your final version?</h4>
    <!--<button routerLink="/thankyou" routerLinkActive="active" type="button" class="btn btn-success btn-lg btn-block">Yes!Submit</button>-->
    <!-- <div style="text-align:center;padding:10px;">
        <button routerLink="" routerLinkActive="active" type="button" (click)="saveChanges()" mat-raised-button style="width:70%;">  Yes! Submit  </button>
     </div> -->
     <div style="text-align:center;padding:10px;">
        <button type="button" style="float: center;" mat-raised-button style="width:70%;" click() > <a href="mailto: fabio@vivaiolab.com?subject=Please find the details&body={{ques}}">Yes! Email To Us </a>  </button>
     </div>
    <h3>or</h3>
    <div style="text-align:center;padding:10px;"></div>
        <button routerLink="/reviewpage" routerLinkActive="active" type="button" (click)="saveChanges()" data-dismiss="modal" mat-raised-button style="width:70%;">  No!Keep Editing  </button>
     </div>
    <!--<button routerLink="/reviewpage" routerLinkActive="active" type="button" style="float: right;" class="btn btn-success btn-lg btn-block">No!Keep Editing</button>-->
  