<mat-sidenav-container>
  <mat-sidenav #sidenavright mode="push" position="end">
    <app-sidenav ></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav (navToggle)="sidenavright.toggle()"></app-nav>
    <div class="container" id="reviewpage">
      <form class="form-control form-class">
          <div *ngFor="let ans of answer ">
            <span>
              {{ans.answer}}
            </span>
          </div>
      </form>
    </div>
    <div class="re-button fixed-bottom">
      <button type="button" (click)="openModal(template)"  mat-raised-button class="button-width">
        Save
      </button>
      <!-- (click)="openModal(template)" -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #template style="border: 3px #ffffff;">
    <div class="modal-header">
      <button type="button" class="close" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">
          <mat-icon svgIcon="close-popup"></mat-icon>
        </span>
      </button>
    </div>
    <div class="modal-body popup popup-body">
      <div class="container">
        <p class="para">Give a name this pitch</p>
        <br/>
        <br/>
        <input type="text" name="pitch_name" [(ngModel)]="pitch_name" />
        <div style="text-align:center;">
          <button  type="button" (click)="savePitchName(); modalRef.hide() " mat-raised-button style="width:80%;background-color: #cccccc; color: grey;">
            Submit </button>
        </div>
      </div>
    </div>
  </ng-template>
<!-- <ng-template #template style="border: 3px #ffffff;">
  <div class="modal-header">
    <button type="button" class="close" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">
        <mat-icon svgIcon="close-popup"></mat-icon>
      </span>
    </button>
  </div>
  <div class="modal-body popup popup-body">
    <div class="container">
      <p class="para">Is this your final version?</p>
      <br/>
      <br/>
      <textarea name="Email" [(ngModel)]="email_id" name="email_id"></textarea>
      <div style="text-align:center;">
        <button routerLink="/thankyou" type="button" style="float: center;" mat-raised-button style="width:80%;background-color: #cccccc; color: grey;"
          (click)="modalRef.hide()" (click)="emailtoUs(email_id)">

          <a style="color: grey;">Yes! Email To Us </a>

        </button>

      </div>
      <p class="content">or</p>
      <div style="text-align:center;">
        <button routerLink="/reviewpage" routerLinkActive="active" type="button" (click)="modalRef.hide()" mat-raised-button style="width:80%;background-color: #cccccc; color: grey;">
          No!Keep Editing </button>
      </div>
    </div>
  </div>
</ng-template> -->