.button-width{
  width: 12em;
}

.content{
  text-align:center;margin-top:10px;
}

button{
  outline: none;
}
logoimage {
	width: 20%;
	height: 10%;
  }

  .icon-align{
	margin-right: 40px;
  }
.main{
  background-color: white;
  color: black;
}
.side-nav{
  background-color: black !important;
  color: white ;
  width: 250px;
  display: block;
  
}
.review-button{
margin-top: 20px;
}
.name-icon{
  color: white !important;
}
.label-class{
  color: grey;
}
.review{
  text-align: center !important;
}
.activ-class{
  background-color: white !important;
  color: black !important;
}
.inactiv-class{
  background-color: grey !important;
  color: white !important;
}
.index-button{
  background:transparent;
  border:none;
  padding-top:20px;
  color: white !important;
}
.index-button:disabled{
  background:transparent;
  border:none;
  padding-top:20px;
}
.index-button:hover{
  border: none;
}
.index-button:before{
  border: none !important;
}
.index-button:focus {
  outline: none;
}
.nav-icons{
  padding: 20px;
  border-radius: 5.5rem;
  width: 4.5rem !important;
  height: 4.5rem !important;
}
.svg_icon{
	width: 8rem !important;
	height: auto !important;
  padding: 10px !important;
  color: black;
  border: none;
  }
mat-icon{
  width: 10%;
}
mat-icon.disabled {
  pointer-events: none;
  cursor:default;
}
.questions{
  width: 3rem !important;
}
.label1{
  font-size: 18px;
  margin: 20px;
  font-family: 'Roboto Mono', monospace;
}
input { 
  border: none; 
  overflow: auto;  
  font-size: 20px;  
  text-align: left;    
}
textarea{
  width:100%;
  border: none;  
  overflow:hidden;
  font-size: 20px;  
  text-align: left;
  outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;    
}

.form-control{
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  border:none;
  /* text-align: center; */
}
.modal-content{
  border: 20px solid white !important;
  border-radius: none;
  background-color: black;
  width: 100%;
}
.next-button{
  text-align:center;
}
.popup{
 
  display: block;
  text-align: center;
  justify-content: initial;
}
.popup-body{
  color: white;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
}
.mat-drawer-container{
  color: black!important;
  background-color: white;

}
.content-margin{
  color: black;
  font-size: 20px;
}

.mat-drawer.mat-drawer-push  {background-color: black;
}
.next-button{
  text-align:center;
}
.container{
  margin-top: 2rem;
  /* margin-left: 4rem; */
}