    <mat-sidenav-container>
        <mat-sidenav #sidenavright mode="push" position="end">
          <app-sidenav  ></app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-nav (navToggle)="sidenavright.toggle()"></app-nav>
            <div class="container" id="reviewpage">
                <form class="label1">
                  <p style="font-size: 15px; width: 100%;">
                    My name is {{question1}}
                    <img routerLink="/question1" class="edit-icon" routerLinkActive="active" src="assets/images/edit icon.svg" height="15" width="15">
          
                    <br/> I noticed that {{question2}}
                    <img routerLink="/question2" class="edit-icon" routerLinkActive="active" alt="edit" src="assets/images/edit icon.svg" height="15"
                      width="15">
                    <br/> The problem can be solved {{question3}}
                    <img routerLink="/question3" class="edit-icon" routerLinkActive="active" src="assets/images/edit icon.svg" height="15" width="15">
                    <br/> In this way {{question4}}
                    <img routerLink="/question4" class="edit-icon" routerLinkActive="active" src="assets/images/edit icon.svg" height="15" width="15">
                    <br/> We are looking for {{question5}}
                    <img routerLink="/question5" class="edit-icon" routerLinkActive="active" src="assets/images/edit icon.svg" height="15" width="15">
          
                  </p>
               
                </form>
              </div>
              <div class="next-button">
                    <button  type="button" (click)="savToBackend();openModal(template)" style="float: right;" mat-raised-button style="width:40%;"> 
                        Save
                  </button>
                </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
<ng-template #template style="border: 3px #ffffff;">
  <div class="modal-header">
    <button type="button" class="close" style="color:white;" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body popup popup-body">
    <div class="container">
      <p class="para">Is this your final version?</p>
      <div style="text-align:center;">
        <button routerLink="/thankyou" type="button" style="float: center;" mat-raised-button style="width:70%;" (click)="modalRef.hide()">
          <a href="mailto: fabio@vivaiolab.com?subject=Please find the details&body=Hi Vivaio Team%0D%0A%0DMy name is {{question1}}%0D%0DHere is my pitch.%0D%0DI noticed that {{question2}}.%0DThe problem can be solved {{question3}}.%0DIn this way {{question4}}.%0DWe are looking for {{question5}}.%0D%0DLooking forward to hearing from you.%0DThanks%0DName:">Yes! Email To Us </a>
        </button>
      </div>
      <p style="text-align: center;padding-top: 10px;">or</p>
      <div style="text-align:center;">
        <button routerLink="/reviewpage" routerLinkActive="active" type="button" (click)="modalRef.hide()" mat-raised-button style="width:70%;">
        No!Keep Editing </button>
      </div>
    </div>
  </div>
</ng-template>
