<!-- <app-nav></app-nav> -->
<div class="d-flex justify-content-center">
        <img src="assets/images/elevatorlylogo.svg">      
</div>
<div class="d-flex justify-content-center">
        <p style="align-content: center">Elevator Pitch Generator</p>
  </div>
    <div class="background">
        <img src="assets/images/buildingHome.svg" routerLinkActive="active" class="body1">
    </div>
<div style="margin-top:20px;">
        <div class="d-flex justify-content-center">
                <button mat-button routerLink="/home2" routerLinkActive="active" data-container="container-2">GENERATE YOUR PITCH</button>
            </div>
</div>
