<!-- <app-nav></app-nav> -->
<div class="body1">
        <mat-toolbar >
                <mat-toolbar-row>
                  <!-- <mat-icon svgIcon="elevetorly" class="svg_icon"></mat-icon> -->
                  <img src="../assets/images/elevetorly logo.svg" routerLink="/home" routerLinkActive="active" class="svg_icon" >
                  <span class="spacer"></span>
                  <!-- <mat-icon svgIcon="menu icon" class="menu_icon"></mat-icon> -->
                </mat-toolbar-row>
              </mat-toolbar>
  <div class="landing">
      <div id="page-wrapper">
          <section id="banner">
              <div class="inner">
                  <h2>ELEVATORLY </h2>
                  <p>Elevator Pitch Generator <br />
                  <ul class="actions">
                      <li><a routerLink="/question1" routerLinkActive="active" data-container="container-2"
                         class="button thumb-nav__item">GENERATE YOUR PITCH </a></li>
                  </ul>
              </div>
          </section>
      </div>
  </div>
</div>
