<!-- <app-nav></app-nav> -->
<div class="container">
<div class="title">
       
                
                    
                  <!-- <mat-icon svgIcon="elevetorly" class="svg_icon"></mat-icon> -->
                      <span class="title-center"> 
                          
                        <img src="assets/images/elevetorlylogo.svg" routerLink="/home" routerLinkActive="active" class="svg_icon "  >
                        
                  </span>
                  
                  <!-- <p style="text-align: center; width:850px;">elevator pitch generator</p> -->
                  <!-- <span class="spacer"></span> -->
                  <!-- <mat-icon svgIcon="menu icon" class="menu_icon"></mat-icon> -->
            
</div>
<div class="background">
        <img src="assets/images/buildingHome.svg" routerLinkActive="active" class="body1"  >
        
             
  
</div>

<div class="landing">
       
     
        <button routerLink="/question1" routerLinkActive="active" data-container="container-2"
           class="button thumb-nav__item">GENERATE YOUR PITCH </button>
  
</div>
</div>
